@model List<Fundy.Web.ApiModels.DonorDTO>
<h3>Donors</h3>

<div class="col-md-8">
    <div class="donors-table">
        <table class="table table-hover">
            <tbody>
                @foreach (var donor in Model)
                {
                    <tr>
                        <td>@donor.LastName</td>
                        <td>@donor.Title</td>
                        <td>@donor.FirstName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4">
    
</div>